.navbar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 250px;
    height: 10vh;
    font-size: 14px;
}
.navbar2 h1{
    cursor: pointer;
}
.viewSimulation{
    text-decoration: none;
    padding-top: 10px;
    color: #3a2ac9;
    font-size: 32px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}